<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDo list</title>
    <script src="/js/jquery-3.4.0.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>Список задач</h1>
<button id="show-add-task-form">Добавить задачу</button>
<button id="delete-all-tasks">Удалить все задачи</button>
<br><br>
<div id="task-list">
    <div th:each="task : ${tasks}">
        <div th:id="${task.id}">
            <b>[[${task.date}]] [[${task.status}]] :</b> [[${task.name}]] <br>
            Task description: [[${task.description}]]
            <a th:if="${task.status == 'CREATED'}" href="#" class="in-progress-link">In Progress</a> <a th:if="${task.status == 'CREATED'}" href="#" class="canceled-link">Cancel</a>
            <a th:if="${task.status == 'IN_PROGRESS'}" href="#" class="completed-link">Complete</a> <a th:if="${task.status == 'IN_PROGRESS'}" href="#" class="canceled-link">Cancel</a>
            <a th:if="${task.status == 'CANCELED'}" href="#" class="in-progress-link">In Progress</a> <a th:if="${task.status == 'CANCELED'}" href="#" class="deleted-link">Delete</a>
            <a th:if="${task.status == 'CLOSED'}" href="#" class="deleted-link">Delete</a>
            <a th:if="${task.status == 'COMPLETED'}" href="#" class="closed-link">Close</a>
            <a th:if="${task.status == 'DELETED'}" href="#" class="del-link">Out of history (forever)!!!</a>
            <a th:if="${task.status == 'EXPIRED'}" href="#" class="del-link">Out of history (forever)!!!</a>
            <br>
        </div>
    </div>
</div>
<div id="add-task-form" style="display: none">
    <form name="Добавить задачу" method="post">
        <h3>Добавление задачи</h3>
        <label>День:</label>
        <input type="date" name="date" value=""><br>
        <p><label>Название задачи</label><br>
            <input type="text" name="name" value=""></p>
        <p><label>Описание задачи:</label><br>
            <textarea name="description" cols="25" rows="8"></textarea></p>
        <button id="save-task">Сохранить задачу</button>
        <hr>
    </form>
</div>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
</body>
</html>