<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDo list</title>
    <script src="/js/jquery-3.4.0.min.js"></script>
    <script src="/js/registration.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Регистрация</title>
</head>
<body>
<h2>Регистрация нового пользователя.</h2>
<div id="new-user-reg-form">
    <form method="post">
        <input type="text" name="username" value="" placeholder="Login"><br>
        <input type="password" name="password" value="" placeholder="Password"><br>
        <button id="save-user">Зарегистрироваться</button>
    </form>
</div>
</body>
</html>